@charset "UTF-8";





#noticias {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: aliceblue;

} 

#noticias > h1 {
    
    padding: 5px;
    color: black;
    font-size: 2em;
    
}

#noticias > h2 {
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 1.5em;
}

#noticias > p {
    padding: 20px 15px;
    text-indent: 2em;

}

#queimadas {
    width: 100%;
    top: 10px;
}

#guduru {
    float: right;
    font-size: 0.8em;
    margin-right: 5px;
    
    
}

#solo {
    width: 100%;
    top: 10px;
}

#citesolo {
    float: right;
    font-size: 0.8em;
    margin-right: 5px;
    
    
}

#florestaq {
    width: 100%;
    top: 10px;
}

#citeflorestaq {
    float: right;
    font-size: 0.8em;
    margin-right: 5px;
    
    
}

#planta {
    width: 100%;
    top: 10px;
}

#citeplanta {
    float: right;
    font-size: 0.8em;
    margin-right: 5px;
    
    
}


/*presevar*/

#notifoto {
    width: 100%;
    top: 10px;
}

#citenoti {
    float: right;
    font-size: 0.8em;
    margin-right: 5px;
}