@charset "UTF-8";

body {
  
}



#topo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;


}

#topo i {
    font-size: 2em;
    margin-top: 15px;
    color: black;
    
}

#topo > img {
  width: 100%;
}


.slider-container {
  width: 100vw; /* Largura da tela */
  overflow: hidden; /* Esconder o que está fora da tela */
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease; /* Transição suave entre as imagens */
  width: 300%;
}

.slider-image {
  width: 100vw; /* Cada imagem ocupa 100% da largura da tela */
  height: autovh; /* Altura ajustável de acordo com o tamanho da tela */
  object-fit: cover; /* Ajustar as imagens sem distorção */
  flex-shrink: 0; /* As imagens não podem encolher */
}
