@charset "UTF-8";


@font-face {
  font-family: 'ox';
  src: url('../Fontes/Oxford.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'new';
  src: url('../Fontes/Newtown.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --cor0:rgb(25, 195, 70);
  --cor1:rgb(11, 128, 42);
}


*{
  font-family: 'ox', 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  width: 98.vw;
}

body {
  height: auto;
  background-color: rgb(25, 195, 70);
}

main {
  
  overflow: hidden;
}




#topo {
    z-index: 1;
    background-color: rgb(252, 252, 252);
    position: sticky;
    top: -1px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    border-bottom: 1px solid rgb(101, 96, 96);


}

#topo i {
  padding: 10px;
    font-size: 2em;
    margin-top: 15px;
    color: black;
    
}

#topo  img {
  width: 90%;
  padding: 10px;
}

#menuham {
  background-color: aliceblue;
  list-style: none;
  text-decoration: none;
  width: 200px;
  height: auto;
  position: fixed;
  top: 74px;
  z-index: 1;
  border-radius: 0px 0px 15px 0px;
  border: 1px solid black;
  border-top: 0px;
  display: none;
  
}

#menuham li {
  padding: 4px;
  border: 1px solid var(--cor0);
}

#menuham a {
  
  color: var(--cor0);
  text-decoration: none;
  font-size: 1.1em;
}





.slider-container {
  width: 100vw; /* Largura da tela */
  overflow: hidden; /* Esconder o que está fora da tela */
  position: relative;
  margin-top: 20px;
  border-radius: 15px 15px 0px 0px;
}

.slider-track {
  display: flex; /* Usar flexbox para empilhar as imagens horizontalmente */
  transition: transform 0.5s ease; /* Transição suave entre as imagens */
  width: calc(100vw * 3); /* Largura total para acomodar todas as imagens */
}

.slider-image {
  width: 100vw; /* Cada imagem ocupa exatamente 100% da largura da tela */
  display: flex;
  flex-direction: column; /* Colocar a imagem em cima e o texto embaixo */
  align-items: center; /* Centralizar o conteúdo */
  text-align: center; /* Centralizar o texto */
}

.slider-image img {
  width: 100%; /* A imagem ocupa 100% da largura do contêiner */
  height: auto; /* Manter a proporção da imagem */
}

.slider-image p {
  padding: 10px; /* Espaçamento ao redor do texto */
  margin: 0; /* Remover margem padrão */
  font-size: 0.6em; /* Tamanho da fonte do texto */
  color:black; /* Cor do texto */
  background-color: aliceblue;
  text-align: justify;
  text-indent: 2em;
  border-radius: 0px 0px 15px 15px;
  padding: 20px;

}




#noticias {
  background-color: var(--cor1);
  margin-top:20px;
  padding-bottom: 20px;
  border-radius: 15px;

}

#noticias a {
  text-decoration: none;
  color: black;
}


#noticias > h1 {
  color: aliceblue;
  text-align: center;
  font-family:'new', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.8em;
}

#imgnoti {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

#noti1 {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom:30px;
  
  background-color: aliceblue;
  border-radius: 20px 20px 0px 0px;
}

#noti1:hover {
  width: 85%;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.495);
  border-radius: 20px 20px 50px 0px;
}

#noti1  h2 {
  padding: 10px;
  text-align: center;
  font-family: 'new';
  font-size: 1.5em;
}

#noti1 p {
  font-family: 'ox' serif;
  text-align: justify;
  text-indent: 2em;
  padding: 10px;
}

#noti1 i {
  width: 100%;
  margin-top: 20px;
  text-align: right;
  color: var(--cor1);
  
}

#reciclagem {
  margin:20px 0px ;
  background-color: aliceblue;
  border-radius: 15px;
  
}

#reciclagem > h1 {
  font-family: 'new';
  padding: 20px;
  text-align: center;
  font-size: 1.8em;
  color-scheme: light;
}

#reciclagem > p {
  padding: 20px;
  font-size: 1.2em;
  text-indent: 2em;
}

#reciclagem > ul {
  padding: 20px;
  font-size: 1.2em;

}

#reciclagem > ul > li {
  color-scheme: light;
}

#ftlixeiras {
  width: 100%;
  top: 10px;
}

#citelix {
  float: right;
  font-size: 0.8em;
  margin-right: 5px;
}



/*jogo1*/


#jogo1{

  background-color: aliceblue;
  margin-top:20px;
  margin-bottom: 50px; /*remover*/
  padding-bottom: 20px;
  border-radius: 15px;

}

#jogo1 > h1 {
  text-align: center;
  font-family:'new', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.8em;
}

#jogo1 > p {
  padding: 20px;
}

#jogo1 > h2 {
  margin: 20px 0px;
  padding: 0px 20px;
  background-color: var(--cor1);
  font-family: 'new';
}

#lixo {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  margin:3px;
  justify-items: center;
  color-scheme: light;
  
  
}

#lixo > p {
  padding: 5px;
  margin: 3px;
  width: 80px;
}

#lixo > p:hover {
  color: green;
  transform: scale(1.1); /* Aumenta um pouco o tamanho ao passar o mouse */
}

/* Efeito de "bounce" (quicar) ao acertar */
.bounce {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Sobe 10px */
  }
}

#plast {
  background-color: rgb(157, 239, 239);
  width: fit-content;
  
  border-radius: 10px;
}

#metal {
  background-color: rgb(89, 76, 72);
  width: fit-content;
  
  border-radius: 10px;
}

#vidro {
  background-color: rgb(77, 236, 151);
  width: fit-content;
  
  border-radius: 10px;
}

#org {
  background-color: rgb(202, 77, 38);
  width: fit-content;
  
  border-radius: 10px;
}

#naorec {
  background-color: rgb(198, 67, 133);
  width: fit-content;
  
  border-radius: 10px;
}

#papel {
  background-color: rgb(219, 208, 205);
  width: fit-content;
  
  border-radius: 10px;
}

#lixeira {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  color-scheme: light;

}

#lixeira > div {
  
  margin: 3px;
}

#rplast {
  padding: 20px;
  border-radius:0px 0px 10px 10px;
  background-color: rgb(195, 20, 20);
  width: fit-content;
}

#rmetal {
  padding: 20px;
  border-radius:0px 0px 10px 10px;
  background-color: rgb(195, 236, 12) !important;
  width: fit-content;
  color-scheme: light;
}

#rvidro {
  padding: 20px;
  border-radius:0px 0px 10px 10px;
  background-color: rgb(16, 141, 20);
  width: fit-content;
}

#rorg {
  padding: 20px;
  border-radius:0px 0px 10px 10px;
  background-color: rgb(85, 34, 8);
  width: fit-content;
}

#rnaorec {
  padding: 20px;
  border-radius:0px 0px 10px 10px;
  background-color: rgb(112, 112, 109);
  width: fit-content;
  color-scheme: light;
}

#rpapel {
  padding: 20px;
  border-radius:0px 0px 10px 10px;
  background-color: rgb(26, 94, 168);
  width: fit-content;
}

#re {
  
  padding: 10px;
  text-align: center;
  width: 100%;
}

#re > p {
  text-align:center ;
  font-family: "new";
  font-weight: bold;
  background-color: var(--cor1);
  width: 150px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  
}

#redessociais {
  background-color: aliceblue;
  margin-top:20px;
  margin-bottom: 50px;
  border-radius: 15px;
}

#redessociais h1 {
  text-align: center;
  font-family:'new', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5em;

}

#redessociais h2 {
  text-align: center;
  font-family:'new', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;

}

#redes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 10px;
}

#redes img {
  width: 60%;
  border-radius: 40%;
}

#port {
  width: 100%;
}

#port a {
  display: flex;
  text-decoration: none;
  justify-content: center;
}


#redessociais i {
  
  background-color: var(--cor1);
  font-size: 3em;
  padding: 10px;
  margin: 15px;
  color: white;
  border-radius: 40%;
  
}